/* Listar CSS */

/* Header Styles*/

body,
.title,
.list,
.list-item,
.list-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Estilo del body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4d9b8;
    color: #5c3d1f;
}

/* Header */
header {
    background-color: #d3a97a;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contenedor del header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Título */
header h1 {
    font-size: 2rem;
    color: #5c3d1f;
}

/* Navegación */
.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links li {
    font-size: 1rem;
}

.nav-links a {
    color: #5c3d1f;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffffff;
}

/* Listar Styles */

body {
    background-color: rgb(238, 202, 169);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Georgia', serif;
    background-color: #f9f5e9;
    border: 2px solid #c5a880;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

th,
td {
    border: 1px solid #c5a880;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #c5a880;
    color: #fff;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #f2e9d9;
}

tr:hover {
    background-color: #e4d4ba;
}

caption {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #5a3c2a;
}

a {
    font-size: 25px;
    width: 100%;
    color: #5a3c2a;
    margin: 10px;
}

/* Insertar Libro CSS */

.body-insert {
    font-family: Arial, sans-serif;
    background-color: #f3d1b0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #ffe4c4;
    border: 1px solid #d2a679;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    text-align: center;
    color: #704b25;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #704b25;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #d2a679;
    border-radius: 3px;
}

.form-group input:focus {
    outline: none;
    border-color: #a6713d;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #a6713d;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.form-group button:hover {
    background-color: #704b25;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #704b25;
    text-decoration: none;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}